In [1]:
import pandas as pd
import json
from functools import reduce

In [2]:
liz = ['jan',
      'fsumm',
       'depperf',
       'candiv',
     'arrperf']

In [5]:
len(liz)

5

In [ ]:
#ADD column year

In [43]:
def yeeers(lizt):
    for i in range(len(lizt)): #the names of the docs
        doc = lizt[i]+'.csv'
        data = pd.read_csv(doc, low_memory = False)
        KK = list(data['_id'].str[:4])
        kk = [int(i) for i in KK] 
        print(kk[:10])
        data.insert(1, 'Year', kk)
        #print(data.head())
      #  print(data.head())
        data.to_csv('hmk3'+ doc, index=False)
    return

In [44]:
yeeers(liz)

[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]
[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]
[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]
[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]
[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]

In [48]:
a = pd.read_csv('hmk3candiv.csv')
a.drop(['Unnamed: 0'], axis = 1, inplace = True)
a

,Year,_id,CANCELLED,CANCELLATION_CODE,DIVERTED
0,2020,2020-01-01N489014397139301010,0.0,0,0.0
1,2020,2020-01-01N169764401153701034,0.0,0,0.0
2,2020,2020-01-01N121674404116181855,0.0,0,0.0
3,2020,2020-01-01N149024405107811855,0.0,0,0.0
4,2020,2020-01-01N606UX4407145241045,0.0,0,0.0
...,...,...,...,...,...
1599118,2010,2010-01-31N502MJ717811057600,1.0,A,0.0
1599119,2010,2010-01-31N503MJ7180103971549,0.0,0,0.0
1599120,2010,2010-01-31N503MJ7180112921009,0.0,0,0.0
1599121,2010,2010-01-31N512MJ7182123392017,0.0,0,0.0
1599122,2010,2010-01-31N512MJ7182139301744,0.0,0,0.0

In [21]:
with open('januaryfromSQL1.json') as data_file: 
    data = json.load(data_file)

In [22]:
li = []

In [23]:
df = pd.DataFrame.from_dict(data,orient='columns')
df.head()

,UNFLID,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME
0,2020-01-01N951WN5888138911810,1,3,2020-01-01,19393,N951WN,5888,13891,"Ontario, CA",California,"San Francisco, CA",California,1810
1,2020-01-01N467WN6276138911150,1,3,2020-01-01,19393,N467WN,6276,13891,"Ontario, CA",California,"San Francisco, CA",California,1150
2,2020-01-01N7885A4598138912020,1,3,2020-01-01,19393,N7885A,4598,13891,"Ontario, CA",California,"San Jose, CA",California,2020
3,2020-01-01N551WN4761138911340,1,3,2020-01-01,19393,N551WN,4761,13891,"Ontario, CA",California,"San Jose, CA",California,1340
4,2020-01-01N968WN516213891915,1,3,2020-01-01,19393,N968WN,5162,13891,"Ontario, CA",California,"San Jose, CA",California,915

In [24]:
li.append(df)

In [25]:
len(li)

1

In [26]:
with open('fsummaryfromSQL1.json') as data_file: 
    data = json.load(data_file)
df = pd.DataFrame.from_dict(data,orient='columns')
df.head()
li.append(df)

In [27]:
len(li)

2

In [28]:
with open('depperffromSQL1.json') as data_file: 
    data = json.load(data_file)
df = pd.DataFrame.from_dict(data,orient='columns')
df.head()
li.append(df)

In [29]:
len(li)

3

In [30]:
with open('candivfromSQL1.json') as data_file: 
    data = json.load(data_file)
df = pd.DataFrame.from_dict(data,orient='columns')
df.head()
li.append(df)

In [31]:
len(li)

4

In [32]:
with open('arrperffromSQL1.json') as data_file: 
    data = json.load(data_file)
df = pd.DataFrame.from_dict(data,orient='columns')
df.head()
li.append(df)

In [33]:
len(li)

5

In [ ]:
#Create unique coollection

In [49]:
liz2 = ['hmk3jan.csv',
      'hmk3fsumm.csv',
       'hmk3depperf.csv',
       'hmk3candiv.csv',
     'hmk3arrperf.csv']

In [50]:
li = []
for i in liz2:
    a = pd.read_csv(i)
    a.drop(['Unnamed: 0'], axis = 1, inplace = True)
    li.append(a)
    a.to_csv(i, index = False)
li

[         Year                            _id  DAY_OF_MONTH  DAY_OF_WEEK  \
 0        2020  2020-01-01N951WN5888138911810             1            3
 1        2020  2020-01-01N467WN6276138911150             1            3
 2        2020  2020-01-01N7885A4598138912020             1            3
 3        2020  2020-01-01N551WN4761138911340             1            3
 4        2020   2020-01-01N968WN516213891915             1            3
 ...       ...                            ...           ...          ...
 1599118  2010   2010-01-31N516LR734310423836            31            7
 1599119  2010  2010-01-31N514MJ7344106931430            31            7
 1599120  2010  2010-01-31N521LR7345111091412            31            7
 1599121  2010   2010-01-31N504MJ734714492841            31            7
 1599122  2010   2010-01-31N511MJ734810397600            31            7

             FL_DATE  OP_CARRIER_AIRLINE_ID TAIL_NUM  OP_CARRIER_FL_NUM  \
 0        2020-01-01                  19393   N951WN               5888
 1        2020-01-01                  19393   N467WN               6276
 2        2020-01-01                  19393   N7885A               4598
 3        2020-01-01                  19393   N551WN               4761
 4        2020-01-01                  19393   N968WN               5162
 ...             ...                    ...      ...                ...
 1599118  2010-01-31                  20378   N516LR               7343
 1599119  2010-01-31                  20378   N514MJ               7344
 1599120  2010-01-31                  20378   N521LR               7345
 1599121  2010-01-31                  20378   N504MJ               7347
 1599122  2010-01-31                  20378   N511MJ               7348

          ORIGIN_AIRPORT_ID      ORIGIN_CITY_NAME ORIGIN_STATE_NM  \
 0                    13891           Ontario, CA      California
 1                    13891           Ontario, CA      California
 2                    13891           Ontario, CA      California
 3                    13891           Ontario, CA      California
 4                    13891           Ontario, CA      California
 ...                    ...                   ...             ...
 1599118              10423            Austin, TX           Texas
 1599119              10693         Nashville, TN       Tennessee
 1599120              11109  Colorado Springs, CO        Colorado
 1599121              14492    Raleigh/Durham, NC  North Carolina
 1599122              10397           Atlanta, GA         Georgia

             DEST_CITY_NAME DEST_STATE_NM  CRS_DEP_TIME
 0        San Francisco, CA    California          1810
 1        San Francisco, CA    California          1150
 2             San Jose, CA    California          2020
 3             San Jose, CA    California          1340
 4             San Jose, CA    California           915
 ...                    ...           ...           ...
 1599118        Chicago, IL      Illinois           836
 1599119        Chicago, IL      Illinois          1430
 1599120         Denver, CO      Colorado          1412
 1599121        Chicago, IL      Illinois           841
 1599122     Washington, DC      Virginia           600

 [1599123 rows x 14 columns],
          Year                            _id  CRS_ELAPSED_TIME  \
 0        2020  2020-01-01N951WN5888138911810              95.0
 1        2020  2020-01-01N467WN6276138911150              90.0
 2        2020  2020-01-01N7885A4598138912020              70.0
 3        2020  2020-01-01N551WN4761138911340              75.0
 4        2020   2020-01-01N968WN516213891915              80.0
 ...       ...                            ...               ...
 1599118  2010   2010-01-31N502MJ717811057600              80.0
 1599119  2010  2010-01-31N503MJ7180103971549             211.0
 1599120  2010  2010-01-31N503MJ7180112921009             169.0
 1599121  2010  2010-01-31N512MJ7182123392017              73.0
 1599122  2010  2010-01-31N512MJ7182139301744              58.0

          ACTUAL_ELAPSED_TIME  AIR_TIME  FLIGHTS  DISTANCE  DISTANCE_GROUP
 0                      122.0      74.0      1.0     363.0               2
 1                       92.0      71.0      1.0     363.0               2
 2                       68.0      57.0      1.0     333.0               2
 3                       75.0      63.0      1.0     333.0               2
 4                       67.0      57.0      1.0     333.0               2
 ...                      ...       ...      ...       ...             ...
 1599118                  0.0       0.0      1.0     321.0               2
 1599119                198.0     183.0      1.0    1199.0               5
 1599120                165.0     142.0      1.0    1199.0               5
 1599121                 64.0      37.0      1.0     177.0               1
 1599122                 51.0      31.0      1.0     177.0               1

 [1599123 rows x 8 columns],
          Year                            _id  DEP_TIME  DEP_DELAY  DEP_DEL15  \
 0        2020  2020-01-01N951WN5888138911810    1851.0       41.0        1.0
 1        2020  2020-01-01N467WN6276138911150    1146.0       -4.0        0.0
 2        2020  2020-01-01N7885A4598138912020    2016.0       -4.0        0.0
 3        2020  2020-01-01N551WN4761138911340    1350.0       10.0        0.0
 4        2020   2020-01-01N968WN516213891915     916.0        1.0        0.0
 ...       ...                            ...       ...        ...        ...
 1599118  2010  2010-01-31N939LR2647106931711    1720.0        9.0        0.0
 1599119  2010  2010-01-31N905FJ2647110572020    2010.0      -10.0        0.0
 1599120  2010   2010-01-31N917FJ265111057740     811.0       31.0        1.0
 1599121  2010   2010-01-31N917FJ265113577530     529.0       -1.0        0.0
 1599122  2010  2010-01-31N930LR2652128892125    2121.0       -4.0        0.0

          DEP_DELAY_GROUP
 0                    2.0
 1                   -1.0
 2                   -1.0
 3                    0.0
 4                    0.0
 ...                  ...
 1599118              0.0
 1599119             -1.0
 1599120              2.0
 1599121             -1.0
 1599122             -1.0

 [1599123 rows x 6 columns],
          Year                            _id  CANCELLED CANCELLATION_CODE  \
 0        2020  2020-01-01N489014397139301010        0.0                 0
 1        2020  2020-01-01N169764401153701034        0.0                 0
 2        2020  2020-01-01N121674404116181855        0.0                 0
 3        2020  2020-01-01N149024405107811855        0.0                 0
 4        2020  2020-01-01N606UX4407145241045        0.0                 0
 ...       ...                            ...        ...               ...
 1599118  2010   2010-01-31N502MJ717811057600        1.0                 A
 1599119  2010  2010-01-31N503MJ7180103971549        0.0                 0
 1599120  2010  2010-01-31N503MJ7180112921009        0.0                 0
 1599121  2010  2010-01-31N512MJ7182123392017        0.0                 0
 1599122  2010  2010-01-31N512MJ7182139301744        0.0                 0

          DIVERTED
 0             0.0
 1             0.0
 2             0.0
 3             0.0
 4             0.0
 ...           ...
 1599118       0.0
 1599119       0.0
 1599120       0.0
 1599121       0.0
 1599122       0.0

 [1599123 rows x 5 columns],
          Year                            _id  CRS_ARR_TIME  ARR_TIME  \
 0        2020  2020-01-01N951WN5888138911810        1945.0    2053.0
 1        2020  2020-01-01N467WN6276138911150        1320.0    1318.0
 2        2020  2020-01-01N7885A4598138912020        2130.0    2124.0
 3        2020  2020-01-01N551WN4761138911340        1455.0    1505.0
 4        2020   2020-01-01N968WN516213891915        1035.0    1023.0
 ...       ...                            ...           ...       ...
 1599118  2010   2010-01-31N516LR734310423836        1113.0    1055.0
 1599119  2010  2010-01-31N514MJ7344106931430        1615.0    1608.0
 1599120  2010  2010-01-31N521LR7345111091412        1453.0    1442.0
 1599121  2010   2010-01-31N504MJ734714492841        1004.0       0.0
 1599122  2010   2010-01-31N511MJ734810397600         741.0     823.0

          ARR_DELAY  ARR_DEL15  ARR_DELAY_GROUP
 0             68.0        1.0              4.0
 1             -2.0        0.0             -1.0
 2             -6.0        0.0             -1.0
 3             10.0        0.0              0.0
 4            -12.0        0.0             -1.0
 ...            ...        ...              ...
 1599118      -18.0        0.0             -2.0
 1599119       -7.0        0.0             -1.0
 1599120      -11.0        0.0             -1.0
 1599121        0.0        0.0              0.0
 1599122       42.0        1.0              2.0

 [1599123 rows x 7 columns]]

In [54]:
for i in range(1,5):
    li[i].drop(['Year'], axis = 1, inplace = True)

In [55]:
len(li)

5

In [56]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='_id'), li)
df_final.head()

,Year,_id,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,...,DEP_DEL15,DEP_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP
0,2020,2020-01-01N951WN5888138911810,1,3,2020-01-01,19393,N951WN,5888,13891,"Ontario, CA",...,1.0,2.0,0.0,0,0.0,1945.0,2053.0,68.0,1.0,4.0
1,2020,2020-01-01N467WN6276138911150,1,3,2020-01-01,19393,N467WN,6276,13891,"Ontario, CA",...,0.0,-1.0,0.0,0,0.0,1320.0,1318.0,-2.0,0.0,-1.0
2,2020,2020-01-01N7885A4598138912020,1,3,2020-01-01,19393,N7885A,4598,13891,"Ontario, CA",...,0.0,-1.0,0.0,0,0.0,2130.0,2124.0,-6.0,0.0,-1.0
3,2020,2020-01-01N551WN4761138911340,1,3,2020-01-01,19393,N551WN,4761,13891,"Ontario, CA",...,0.0,0.0,0.0,0,0.0,1455.0,1505.0,10.0,0.0,0.0
4,2020,2020-01-01N968WN516213891915,1,3,2020-01-01,19393,N968WN,5162,13891,"Ontario, CA",...,0.0,0.0,0.0,0,0.0,1035.0,1023.0,-12.0,0.0,-1.0

In [38]:
df_final

,UNFLID,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,...,DEP_DEL15,DEP_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP
0,2020-01-01N951WN5888138911810,1,3,2020-01-01,19393,N951WN,5888,13891,"Ontario, CA",California,...,1.0,2.0,0.0,0,0.0,1945.0,2053.0,68.0,1.0,4.0
1,2020-01-01N467WN6276138911150,1,3,2020-01-01,19393,N467WN,6276,13891,"Ontario, CA",California,...,0.0,-1.0,0.0,0,0.0,1320.0,1318.0,-2.0,0.0,-1.0
2,2020-01-01N7885A4598138912020,1,3,2020-01-01,19393,N7885A,4598,13891,"Ontario, CA",California,...,0.0,-1.0,0.0,0,0.0,2130.0,2124.0,-6.0,0.0,-1.0
3,2020-01-01N551WN4761138911340,1,3,2020-01-01,19393,N551WN,4761,13891,"Ontario, CA",California,...,0.0,0.0,0.0,0,0.0,1455.0,1505.0,10.0,0.0,0.0
4,2020-01-01N968WN516213891915,1,3,2020-01-01,19393,N968WN,5162,13891,"Ontario, CA",California,...,0.0,0.0,0.0,0,0.0,1035.0,1023.0,-12.0,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599118,2010-01-31N516LR734310423836,31,7,2010-01-31,20378,N516LR,7343,10423,"Austin, TX",Texas,...,0.0,-1.0,0.0,0,0.0,1113.0,1055.0,-18.0,0.0,-2.0
1599119,2010-01-31N514MJ7344106931430,31,7,2010-01-31,20378,N514MJ,7344,10693,"Nashville, TN",Tennessee,...,0.0,-1.0,0.0,0,0.0,1615.0,1608.0,-7.0,0.0,-1.0
1599120,2010-01-31N521LR7345111091412,31,7,2010-01-31,20378,N521LR,7345,11109,"Colorado Springs, CO",Colorado,...,0.0,-1.0,0.0,0,0.0,1453.0,1442.0,-11.0,0.0,-1.0
1599121,2010-01-31N504MJ734714492841,31,7,2010-01-31,20378,N504MJ,7347,14492,"Raleigh/Durham, NC",North Carolina,...,0.0,0.0,1.0,B,0.0,1004.0,0.0,0.0,0.0,0.0
1599122,2010-01-31N511MJ734810397600,31,7,2010-01-31,20378,N511MJ,7348,10397,"Atlanta, GA",Georgia,...,1.0,3.0,0.0,0,0.0,741.0,823.0,42.0,1.0,2.0

In [57]:
df_final.to_csv('uniquecollection.csv', index = False)

In [37]:
for i in range(5):
    print(len(li[i].columns))

13
7
5
4
6

In [39]:
h = df_final

In [41]:
h.rename(columns={'UNFLID':'_id'}, 
                 inplace=True)
h.head()

,_id,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,...,DEP_DEL15,DEP_DELAY_GROUP,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,ARR_DELAY_GROUP
0,2020-01-01N951WN5888138911810,1,3,2020-01-01,19393,N951WN,5888,13891,"Ontario, CA",California,...,1.0,2.0,0.0,0,0.0,1945.0,2053.0,68.0,1.0,4.0
1,2020-01-01N467WN6276138911150,1,3,2020-01-01,19393,N467WN,6276,13891,"Ontario, CA",California,...,0.0,-1.0,0.0,0,0.0,1320.0,1318.0,-2.0,0.0,-1.0
2,2020-01-01N7885A4598138912020,1,3,2020-01-01,19393,N7885A,4598,13891,"Ontario, CA",California,...,0.0,-1.0,0.0,0,0.0,2130.0,2124.0,-6.0,0.0,-1.0
3,2020-01-01N551WN4761138911340,1,3,2020-01-01,19393,N551WN,4761,13891,"Ontario, CA",California,...,0.0,0.0,0.0,0,0.0,1455.0,1505.0,10.0,0.0,0.0
4,2020-01-01N968WN516213891915,1,3,2020-01-01,19393,N968WN,5162,13891,"Ontario, CA",California,...,0.0,0.0,0.0,0,0.0,1035.0,1023.0,-12.0,0.0,-1.0

In [43]:
h.to_csv('uniquecollection2.csv', index = False)

In [44]:
for i in li:
    i.rename(columns={'UNFLID':'_id'}, 
                 inplace=True)

In [56]:
li[0].to_csv('jan.csv')

In [57]:
li[1].to_csv('fsumm.csv')

In [58]:
li[2].to_csv('depperf.csv')

In [59]:
li[3].to_csv('candiv.csv')

In [60]:
li[4].to_csv('arrperf.csv')

In [61]:
li[3]

                                   _id  CANCELLED CANCELLATION_CODE  DIVERTED
0        2020-01-01N489014397139301010        0.0                 0       0.0
1        2020-01-01N169764401153701034        0.0                 0       0.0
2        2020-01-01N121674404116181855        0.0                 0       0.0
3        2020-01-01N149024405107811855        0.0                 0       0.0
4        2020-01-01N606UX4407145241045        0.0                 0       0.0
...                                ...        ...               ...       ...
1599118   2010-01-31N502MJ717811057600        1.0                 A       0.0
1599119  2010-01-31N503MJ7180103971549        0.0                 0       0.0
1599120  2010-01-31N503MJ7180112921009        0.0                 0       0.0
1599121  2010-01-31N512MJ7182123392017        0.0                 0       0.0
1599122  2010-01-31N512MJ7182139301744        0.0                 0       0.0

[1599123 rows x 4 columns]